.banner {
  width: 100vw;
  height: 40vh;
  background-image: url("https://www.ema.co.tz/uploads/news_053b6ca59e88a641974aebd890639434.jpg");
  background-size: cover;
  color: rgb(7, 0, 0);
  font-weight: bold;
  border-radius: 10px;
  display: flow-root;
  justify-content: left;
  align-items: center;
}

.btn-blue {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(248, 248, 248);
  font-weight: bold;
  background-color: rgb(36, 42, 208);
  text-decoration: none;
  border-radius: 30px;
  padding: 15px;
  margin-left: 30px;
}

.banner p {
  margin-bottom: 40px;
  margin-left: 30px;
  font-size: x-large;
}

.banner h2 {
  margin-top: 60px;
  margin-left: 30px;
  font-size: xxx-large;
  margin-bottom: 10px;
}

.btn-blue:hover {
  background-color: rgb(3, 5, 67);
}

.how-it-works {
  margin-left: 30px;
}

.how-it-works h2 {
  font-size: x-large;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.329);
  border: 20px;
  border-color: rgba(133, 129, 129, 0.591);
  align-items: top;
  align-content: center;
  margin: 8px 20px 8px 0;
  word-wrap: break-word;
  width: 30vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card h3 {
  text-align: center;
  margin: 0 10px 5px 10px;
  padding: 5px;
}

.footer {
  text-align: center;
}
